fastapi==0.123.5
uvicorn==0.38.0
dotenv==0.9.9
pydantic==2.12.5
python-multipart==0.0.20
google-cloud-storage==3.6.0
python-magic-bin==0.4.14
langgraph
langchain
langchain-core
langchain-openai
langchain-qdrant
langchain-community
qdrant-client==1.16.1
pypdf==6.4.0
